<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>中正大學資訊工程系109級專題</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/flashcard-style.css"/>
    <script src="static/js/pep.js"></script>
    <script src="static/js/constants.js" defer></script>

    <script src="static/js/index/menu-screen.js" defer></script>
    <script src="static/js/index/app.js" defer></script>
    <script src="static/js/index/main.js" defer></script>
  </head>
  <body>
    <article>
    <div id="menu">
      <div class="contents">
        <header>
          <h1>中正資工109級專題</h1>
          <h2>AI Barista 智慧咖啡沖煮</h2>
        </header>
        <div id="choices"></div>
      </div>
    </div>
    
    <div id="introduce" class="inactive">
      <h1>手沖咖啡:以機械手臂完美複製口味</h1>
      <div class="item-introduce_content" >
      <h3>當您在家裡以家中器材沖泡出了一杯完美的咖啡</br>
        是否曾擔心因使用手動磨豆機無法重現當初的粉沫粗細</br>
        而因此找不回當初手沖的口感呢?</br>
        以機器學習的技術結合機械手臂</br>我們有辦法將咖啡風味重新復刻</br>
        永遠保存這個風味</h3>
        <span id="google"></span>
      </div>
      <div class="video-menu-buttons">
        <button class="to-demo">觀看demo影片</button></br></br>
        <button class="to-menu">Back to menu</button>
      </div>
    </div>

    <div id="demovideo" class="inactive">
      <h1>2019/5/4 TISCA全國沖煮賽</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AIWrDryK5Jg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="video-menu-buttons">
        <button class="to-menu">Back to menu</button>
      </div>
    </div>
  </article>
  </body>

</html>
