<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>中正大學資訊工程系109級專題</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/flashcard-style.css"/>
    <script src="static/js/pep.js"></script>
    <script src="static/js/constants.js" defer></script>

    <script src="static/js/upload_ok/machinearm.js" defer></script>
    <script src="static/js/upload_ok/app.js" defer></script>
    <script src="static/js/upload_ok/main.js" defer></script>
  </head>

  <body>
    <article>
    <div id="arm" class="">
        <div class="contents upload_OK">
          <div>
              <h1 class="inactive">之前輸入的咖啡總重量：{{coffeeWeight}}！</h1>
              <h1>您上傳的圖片</h1>
              <div class="flex">
                  <img class=" item" src="{{ url_for('static', filename= './images/raw_photo/Demo_input.jpg',_t=val1) }}" alt="找不到該圖片"/>      
              </div>
              <h1>分析結果:</h1>
              <span style="display:block ;text-align: center;color: rgb(124, 184, 245)" >預測結果：{{predict_answer}}</span>
              <span style="display:block ;text-align: center;color: crimson" >正確答案：{{input_answer}}</span>
              <br/>
              <div class="flex">
              <img class=" item" src="{{ url_for('static', filename= './images/result.jpg',_t=val1) }}" alt="找不到該圖片"/>      
              </div>

              <h1>手臂狀態:{{robot_status}}！</h1>
            </div>
          <div id="choices" class="arm-buttons file-box">
            <div class="startarm  push_button blue">開始沖煮咖啡</div>
            <div class="reupload  push_button blue">重新上傳圖片</div>
            <div class="to-menu  push_button blue">回到選單</div>
          </div>
        </div>
      </div>

  </article>
  </body>

</html>
