<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="google-signin-client_id" content="927126994152-kcbta7dgag3ur2otkqkmqfli8k5dngns.apps.googleusercontent.com">
    <title>林泰吉教授109級專題</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/flashcard-style.css"/>
    <script src="https://code.jquery.com/pep/0.4.1/pep.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="static/js/constants.js" defer></script>

    <script src="static/js/menu-screen.js" defer></script>

    <script src="static/js/introduce.js" defer></script>
    <script src="static/js/machinearm.js" defer></script>

    <script src="static/js/login.js" defer></script>
    <script src="static/js/RegorLog.js" defer></script>
    <script src="static/js/register.js" defer></script>
    <script src="static/js/demo.js" defer></script>
    <script src="static/js/app.js" defer></script>
    <script src="static/js/main.js" defer></script>
    <script src="static/js/script.js" defer></script>

    </script>
  </head>
  <body>
    <article>
    <div id="menu" class="inactive">
      <div class="contents">
        <header>
          <h1>林泰吉教授109級專題</h1>
          <h2>智慧咖啡沖煮:</h2>
        </header>
        <div id="choices"></div>
      </div>
    </div>



    <div id="arm" class="">
        <div class="contents upload_OK">
          <div>
              <h1 class="inactive">之前輸入的咖啡總重量：{{coffeeWeight}}！</h1>
              <h1>您上傳的圖片</h1>
              <div class="flex">
                  <img class=" item" src="{{ url_for('static', filename= './images/caculate_photo/rawphoto_0.jpg',_t=val1) }}" alt="找不到該圖片"/>      
                  <img class=" item" src="{{ url_for('static', filename= './images/caculate_photo/rawphoto_1.jpg',_t=val1) }}" alt="找不到該圖片"/>      
                  <img class=" item" src="{{ url_for('static', filename= './images/caculate_photo/rawphoto_2.jpg',_t=val1) }}"  alt="找不到該圖片"/>      
                  <img class=" item" src="{{ url_for('static', filename= './images/caculate_photo/rawphoto_3.jpg',_t=val1) }}"  alt="找不到該圖片"/>      
                  <img class=" item" src="{{ url_for('static', filename= './images/caculate_photo/rawphoto_4.jpg',_t=val1) }}"  alt="找不到該圖片"/>      
              </div>
              <h1>分析結果</h1>
              <img src="{{ url_for('static', filename= './images/bar.png',_t=val1) }}" width="100%"  alt="找不到該圖片"/>      
              <h1>手臂狀態:{{robot_status}}！</h1>
            </div>
          <div id="choices" class="arm-buttons file-box">
            <button class="startarm">start brewing</button>
            <button class="reupload">Re - Upload</button>
            <button class="to-menu">Back to menu</button>
          </div>
        </div>
      </div>

    <div id="introduce" class="inactive">
      <h1>手沖咖啡:以機械手臂完美複製口味</h1>
      <div class="item-introduce_content" >
      <h3>當您在家裡以家中器材沖泡出了一杯完美的咖啡</br>
        是否曾擔心因使用手動磨豆機無法重現當初的粉沫粗細</br>
        而因此找不回當初手沖的口感呢?</br>
        以機器學習的技術結合機械手臂</br>我們有辦法將咖啡風味重新復刻</br>
        永遠保存這個風味</h3>
        <span id="google"></span>
      </div>
      <div class="video-menu-buttons">
        <button class="to-demo">觀看demo影片</button></br></br>
        <button class="to-menu">Back to menu</button>
      </div>
    </div>

    <div id="demovideo" class="inactive">
      <h1>2019/5/4 TISCA全國沖煮賽</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AIWrDryK5Jg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="video-menu-buttons">
        <button class="to-menu">Back to menu</button>
      </div>
    </div>

    <div id="RegOrLog" class="inactive">
      <h1>請選擇要登入還是辦新帳號</h1></br></br>
      <div class="video-menu-buttons">
      <button class="to-register">Register</button></br></br>
      <button class="to-login">Login</button></br></br>
      <button class="to-menu">Back to menu</button>
    </div>
  </div>
    <div id="register" class="inactive">
      <form action="/" method="POST">
        <p id="regresult"></p>
        <h3>
        帳號 :<input id="ra" type="text" name="rname" required="required"><br>
        密碼 :<input id="rp" type="password" name="rpass" required="required"><br>
        再次輸入密碼:<input id="rpc" type="password" name="rcpass" required="required"><br></h3>
        <!--<button>submit</button>-->
        <input type="submit" value="submit">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <div class="video-menu-buttons">
        <button class="to-RegOrLog">Back to last page</button>
      </div>
      </form>
    </div>

    <div id="reg_result" class="inactive">
      <span>
        <!-- Success or fail -->
        <!-- Go to main page -->
        <h2>
        帳號建立成功，回目錄繼續瀏覽</br>
        請記得登入
        </h2>
        <div class="video-menu-buttons">
          <button class="to-menu">Back to menu</button>
        </div>
      </span>
    </div>

    <div id="login" class="inactive">
      <form action="/login" method="POST">
        <h3>
        帳號 :<input id="la" type="text" name="lname" required="required"><br>
        密碼 :<input id="lp" type="password" name="lpass" required="required"><br>

        <input type="submit" value="submit">
        <div class="g-signin2" data-onsuccess="onSignIn">    </div></h3>
        <div id="loginerr" class="inactive">
            <p>帳號或密碼錯誤，請再試一次</p>
        </div>
        <div class="video-menu-buttons">
        <button class="to-RegOrLog">Back to last page</button>
        </div>
      </form>
    </div>

    <div id="loginsuc" class="inactive">
      <h2>
      帳號登入成功，之前分數為:<span id="Score">_</span></br>
      回目錄繼續瀏覽
      </h2>
      <div class="video-menu-buttons">
        <button class="to-menu">Back to menu</button>
      </div>
    </div>

    <div id="results" class="inactive">
      <h1>Results</h1>
      <h4>
      <span id="show_name">_</span></br>
    </h4>
      <div>這次得分:<span class="percent"></span>分</div>
      <div><span class="correct"></span> right</div>
      <div><span class="incorrect"></span> wrong</div>
      <div class="menu-buttons">
        <button class="continue"></button>
        <button class="storeScore">登記分數</button>
        <button class="to-menu">Back to menu</button>
      </div>
    </div>

    <div id="storesuc" class="inactive">
      <h2>
      <span id="score">_</span></br>
      </h2>
      <div class="video-menu-buttons">
        <button class="to-menu">Back to menu</button>
      </div>
    </div>
  </article>
  </body>

</html>
